* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*фон */
.wrapper{
background-color: #5e5d5d;
min-height: 100vh;    
} 

/*шапка: лого и "Корзина"*/

.header_top{
    border: 1px solid #000;
    background: rgb(149, 149, 149);
    height: 70px;
    display: flex;
    justify-content: space-between;
}

/* позиция лого: поверх*/
.header_logo{
    position: relative;
    margin-left: 30px;
}

/*_____ Кнопка 'Корзина' _____*/
.btn-cart{
    margin-right: 30px;
    width: 100px;
    height: 35px;
    align-self: center;

    border: 1px solid #000;
    border-radius: 5px;
}

/*эфф-т при наведении на кнопку*/
.btn-cart:hover{
    box-shadow: 1px 0px 13px 4px #d1d1d1;
}

/*_____ Блок товаров_______*/
.products{
    margin: 35px auto;

    /*вмещает 3 карточки(300рх) товара вряд*/
    max-width: 1200px; 

    display: grid;
    grid-gap: 22px;

    /*адаптация grid под размер окна браузера*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;

}

/*_______ стиль Карточки Товара_______*/
.product-item{
    border: 1px solid #575757;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.product-item:hover {
    transform: scale(1.01);
     transition: 130ms;       
     box-shadow: 1px 0px 9px 2px #9e9e9e;
 
 
}

.item_img{
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

.item_h3{
    margin-bottom: 10px;
}
.item_price{
    margin-bottom: 10px;
    font-size: 16px;
}

.item_price::after{
    content: ' руб.';
}

.by-btn{
    width: 80%;
    height: 35px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #000;
}

.by-btn:hover{
    background-color: #f3fd65;
}


