.search-form {
    position: relative;
    margin-right: 50px;
    display: inline-block;
}

.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
}

.search-field:focus {
    outline: none;
}

.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
}

/* svg:not(:root).svg-inline--fa {
    overflow: visible;
}
 
.svg-inline--fa.fa-w-16 {
    width: 1em;
}
 
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
} */